<div class="Card">
  <img src="" alt="" class="Card__circle">
  <img src="" alt="" class="Card__laurel">
  <h1 class="Card__price">${{"11.11"}}</h1>
  <p class="Card__subtext">{{"Subtext"}}</p>
  <div class="Card__features">
    <ul>
      <li>Max number of open orders</li>
      <li>Max single investment</li>
      <li>Max combined investment</li>
      <li>Min investment</li>
      <li>Free withdrawals once a week</li>
      <li>Relationship Manage</li>
    </ul>
  </div>
  <button class="Card__btn">Open Account</button>
</div>