@use "~/src/defaults" as d;

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  box-shadow: 0 10px 30px #16182D0D;

  font-family: "Inter";
  color: d.$darkblue;

  &__accent {
    margin-top: -5.5em;
    width: 60%;
  }

  &__laurel {
    margin-top: -1.6em;
    width: 20%;
  }

  &__tier {
    margin-top: .5em;
  }

  &__pricing {
    margin-top: .5em;

    display: flex;
    flex-direction: row;

    font-size: 2em;

    &--currency {
      margin: .35em .2em 0 0;
      align-self: flex-start;
    }
  }

  &__subtext {
    margin: 5% 8%;

    opacity: 0.8;
    text-align: center;
    font-size: .7em;
  }

  &__separator {
    width: 84%;
    opacity: 0.1;
    border: .5px solid d.$darkblue;
  }

  &__features {
    width: 100%;
    margin: .8em 0;
    padding: 0 8%;


    ul {
      list-style: none;

      li {
        width: 100%;
        margin: .5em 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        font-size: .7em;

        .desc {
          opacity: 0.7;
          font-size: inherit;
        }
        
        .benefit {
          opacity: 0.8;
          font-size: inherit;
          font-weight: 700;
        }

        img {
          width: .8em;
        }
      }
    }
  }

  &__btn {
    @include d.button-secondary-l;

    margin: 1.75em 0;

    aspect-ratio: 7;
    width: 84%;
  }
}

@include d.tablet {
  .Card {
    &__laurel {
      width: 25%;
    }

    &__btn {
      aspect-ratio: 7;
    }
  }
}

@include d.mobile {
  .Card {
    &__laurel {
      width: 25%;
    }

    &__btn {
      aspect-ratio: 7;
    }
  }
}