@use "~/src/defaults" as d;

.App {
  display: flex;
  flex-direction: column;

  font-family: "Inter";
  color: d.$darkblue;

  .title {
    font-size: 2.5em;
    font-weight: 700;

    line-height: 120%;
  }

  .subtext {
    margin-top: 24px;

    opacity: 0.7;

    font-size: 0.685em;
    font-weight: 400;

    line-height: 150%;
  }

  .button {
    @include d.button-primary;
    margin-top: 32px;

    aspect-ratio: 3.4;
    width: 10em;
  }
}

.CardMenu {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 2.25em;
    text-align: center;
  }

  &__subcontainer {
    margin: 1.25em 5em 0 5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  app-card {
    width: 31%;
  }
}

.AccordianMenu {
  margin: 0 0 5em 0;
}