<div class="App">

  <!------------------- SECTION 3 ------------------->
  <app-duocontainer
    imgSrc = "assets/images/get-in-early-on-the-next-big-thing.png"
  >
    <h1 class="title">Get in early on the next big thing</h1>
    <p class="subtext">
      With no account fees and no minimums to open an account, 
      we can help even a modest amount of money go far. 
      Our brokerage fees are among the lowest in the industry, for both conventional and crypto assets.
    </p>
    <button class="button">Learn More</button>
  </app-duocontainer>

  <!------------------- SECTION 4 ------------------->
  <div class="CardMenu">
    <h1 class="title">Account Types</h1>
    <div class="CardMenu__subcontainer">
      <app-card 
        accentImg = "assets/images/card-yellow-circle.png"
        laurelImg = "assets/images/card-classic.png"
        tier = "CLASSIC"
        pricing = "89"
        subtext = "Entry level account with a recommended minimum deposit of"
        [withdraw] = "false"
        [relation] = "false"
      ></app-card>
      <app-card 
        accentImg = "assets/images/card-blue-circle.png"
        laurelImg = "assets/images/card-pro.png"
        tier = "PRO"
        pricing = "139"
        subtext = "Our Premium account with a minimum deposit of"
        [withdraw] = "true"
        [relation] = "false"
      ></app-card>
      <app-card 
        accentImg = "assets/images/card-yellow-circle.png"
        laurelImg = "assets/images/card-elite.png"
        tier = "ELITE"
        pricing = "339"
        subtext = "Exclusive account type with a minimum deposit of"
        [withdraw] = "true"
        [relation] = "true"
      ></app-card>
    </div>
  </div>

  <!------------------- SECTION 5 ------------------->
  <app-duocontainer [imgSrc] = "accordianImg" [hideOnMobile] = true>
    <h1 class="title">Platforms</h1>
    <p class="subtext">
      Easily deployed across any organization of any scale. 
      Unite teams, tools, and systems while maintaining flexibility in how teams prefer to work.
    </p>

    <div class="AccordianMenu">
      <app-accordian
        title = "Trade with the best"
        text = "Trade Binary Options with the best platform, on a wide selection of assets, with high payouts, lightning-fast order execution and get personal customer support around the clock, fast withdrawals and the expertise of industry leaders."
        [onCloseAllEvent]="onCloseAllEvent"
        (closeAllEvent)="collapseAccordians('assets/images/platforms-trade-with-the-best.png')"
        [default] = "true"
        [imgSrc] = "accordianImg"
      ></app-accordian>
      <app-accordian
        title = "Flexibility"
        text = "Teams on various devices can work entirely virtualized from the data center with NVIDIA RTX Virtual Workstations (vWS) or connect to the same Omniverse Enterprise environment using a local RTX professional workstation or notebook."
        [onCloseAllEvent]="onCloseAllEvent"
        (closeAllEvent)="collapseAccordians('assets/images/platforms-flexibility.png')"
        [imgSrc] = "accordianImg"
      ></app-accordian>
    </div>

  </app-duocontainer>
</div>