<div class="App">
  <app-duocontainer
    imgSrc = "assets/images/get-in-early-on-the-next-big-thing.png"
  >
    <h1 class="title">Get in early on the next big thing</h1>
    <p class="subtext">
      With no account fees and no minimums to open an account, 
      we can help even a modest amount of money go far. 
      Our brokerage fees are among the lowest in the industry, for both conventional and crypto assets.
    </p>
    <button class="button">Learn More</button>
  </app-duocontainer>

  <div class="CardMenu">
    <h1 class="title">Account Types</h1>
    <div class="CardMenu__subcontainer">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>

  <app-duocontainer
    imgSrc = "assets/images/platforms-trade-with-the-best.png"
  >
    <h1 class="title">Platforms</h1>
    <p class="subtext">
      Easily deployed across any organization of any scale. 
      Unite teams, tools, and systems while maintaining flexibility in how teams prefer to work.
    </p>
    <div>Placeholder accordian</div>
    <div>Placeholder accordian</div>
  </app-duocontainer>
</div>