@use "~/src/defaults" as d;

.App {
  display: flex;
  flex-direction: column;

  font-family: "Inter";
  color: d.$darkblue;

  .title {
    font-size: 2.5em;
    font-weight: 700;

    line-height: 120%;
  }

  .subtext {
    margin-top: 24px;

    opacity: 0.7;

    font-size: 0.685em;
    font-weight: 400;

    line-height: 150%;
  }

  .button {
    @include d.button-primary;
    margin-top: 32px;

    aspect-ratio: 3.4;
    width: 10em;
  }
}

.CardMenu {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 2.25em;
    text-align: center;
  }

  &__subcontainer {
    margin: .75em 4em 0 4em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  app-card {
    width: 30%;
  }
}

.AccordianMenu {
  margin: 0 0 5em 0;
}

@include d.tablet {
  .App {
    .title {
      margin-top: 1em;
      font-size: 1.25em;
    }

    .button {
      aspect-ratio: 12;
      width: 100%;
    }

    .CardMenu {
      &__subcontainer {
        margin: 1.25em 2.5em 0 2.5em;

        flex-direction: column;
        align-items: center;
      }

      app-card {
        width: 70%;
        margin-bottom: 1em;
      }
    }
  }
}

@include d.mobile {
  .App {
    .title {
      margin-top: 1em;
      font-size: 1.25em;
    }

    .button {
      aspect-ratio: 8;
      width: 100%;
    }

    .CardMenu {
      &__subcontainer {
        margin: 1.25em 0.5em 0 0.5em;

        flex-direction: column;
        align-items: center;
      }

      app-card {
        width: 90%;
        margin-bottom: 1em;
      }
    }
  }
}