@use "~/src/defaults" as d;

.Duocontainer {
  padding: 5% 0;
  display: flex;
  justify-content: center;
  flex-direction: row;

  &__inner {
    width: 40%;
    margin-right: 48px;
  }

  &__img {
    object-fit: contain;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@include d.tablet {
  .Duocontainer {
    flex-direction: column;
    margin: 0 1em;

    &__inner {
      width: 100%;
    }
  }
}

@include d.mobile {
  .Duocontainer {
    flex-direction: column;
    margin: 0 1em;

    &__inner {
      width: 100%;
    }

    &__img {
      margin-top: 1em;
    }
  }
}