.Duocontainer {
  padding: 5% 0;
  display: flex;
  justify-content: center;
  flex-direction: row;

  &__inner {
    width: 40%;
    margin-right: 48px;
  }

  &__img {
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}